@charset "UTF-8"

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C9F2DF, #93AEBF );
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8c7c5da4 ;
}

h1 {
    color: #8C7C5D;
    text-align: center;
    text-shadow: 1px 1px 2px #8c7c5d6e;
}

h2 { 
    color: #75A644;


}

p {
    text-align: justify;
}