.container {
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: aquamarine;
    /*
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    
    Short-hand:
    grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end; */
    grid-area: 1 / 1 / span 1 / span 4;
}


.caixa2 {
    background-color: beige;
    grid-area: 2 / 1 / span 2 / span 2;
}

.caixa3 {
    background-color: lightgray;
    grid-area: 2 / 3 / span 2 / span 2;

}